altair==5.0.1
contourpy==1.0.7
cycler==0.11.0
fonttools==4.43.0
kiwisolver==1.4.4
numpy==1.25.1
matplotlib==3.7.1
openpyxl==3.1.2
packaging==23.1
pandas==2.0.3
Pillow==10.3.0
plotly==5.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.8
scipy==1.10.1
spectral==0.23.1
streamlit==1.31.1
streamlit-aggrid==0.3.4.post3
streamlit-option-menu==0.3.2
streamlit-tags==1.2.8
tenacity==8.2.2
xlrd==2.0.1
